[transport-wss]
type=transport
protocol=wss
bind=0.0.0.0
cert_file=/etc/asterisk/keys/asterisk_combined.pem
priv_key_file=/etc/asterisk/keys/asterisk.key

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[erdum_auth]
type=auth
auth_type=userpass
password=erdum123
username=erdum

[erdum]
type=aor
max_contacts=1

[erdum]
type=endpoint
transport=transport-udp
context=from-internal
disallow=all
allow=ulaw
auth=erdum_auth
aors=erdum
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
ice_support=yes

[didx_identifier]
type=identify
endpoint=didx
match=46.101.80.13

[didx_aor]
type=aor
contact=sip:46.101.80.13:5060

[didx]
type=endpoint
transport=transport-udp
context=from-didx
disallow=all
allow=ulaw
aors=didx_aor

[webrtc_client]
type=aor
max_contacts=5
remove_existing=yes

[webrtc_client]
type=auth
auth_type=userpass
username=webrtc_client
password=webrtc_client

[webrtc_client]
type=endpoint
aors=webrtc_client
auth=webrtc_client
dtls_auto_generate_cert=yes
webrtc=yes
context=from-internal
disallow=all
allow=opus,ulaw