[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[6001]
type=endpoint
context=from-internal
disallow=all
allow=ulaw
auth=6001
aors=6001

[6001]
type=auth
auth_type=userpass
password=password
username=6001

[6001]
type=aor
max_contacts=1

[didx]
type=endpoint
transport=transport-udp
context=from-didx
disallow=all
allow=ulaw
aors=vendor

[didx]
type=aor
contact=sip:46.101.80.13:5060

[didx]
type=identify
endpoint=didx
match=46.101.80.13